ul{
    text-align: center;
    background-color: orangered;
    margin-top: 0px;
    padding: 5px;
}
ul li{
    display: inline;
    list-style: none;
    margin-right: 2rem;
    font-size: 1.5rem;
    }

